html.dark {
  --el-bg-color: #090d16; /* 更温和的深灰色 */
  --el-bg-color-overlay: #252629;
  --el-text-color-primary: #e0e0e0;
  --el-border-color: #3a3a3a;
}

.theme-ripple-mask {
  position: fixed;
  border-radius: 50%;
  background-color: var(--ripple-color, #fff);
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.5s ease, opacity 0.3s ease;
}
* {
  margin: 0;
}
