html.dark {
  --el-bg-color: #090d16; /* 更温和的深灰色 */
  --el-bg-color-overlay: #252629;
  --el-text-color-primary: #e0e0e0;
  --el-border-color: #3a3a3a;
    /* ✅ 输入框变量 */
  --input-bg-color: #1a1d24;
  --input-text-color: #e0e0e0;
  --input-placeholder-color: #888;
  --input-border-color: rgb(255, 255, 255);
  --input-border-focus-color: rgba(255, 255, 255, 0.8);
}
/* 默认浅色模式 */
:root {
  --input-border-color: #524b4b;
  --input-text-color: #000000;
  --input-border-focus-color:rgba(141, 128, 128, 0.8);
}
* {
  margin: 0;
}



